@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
    to bottom right,
    hsl(350, 100%, 98%),
    hsl(10, 100%, 97%)
  );
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .heart-beam {
    animation: beam 2s infinite;
  }
  
  @keyframes beam {
    0%, 100% { 
      transform: scale(1);
      color: inherit;
    }
    50% { 
      transform: scale(1.1);
      color: #ff4d6d;
    }
  }
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  pointer-events: none;
  z-index: 1000;
  font-size: 40px;
  line-height: 1;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.heart-trail {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgb(233, 115, 141);
  opacity: 1;
  animation: fade 2s ease forwards;
  clip-path: path("M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z");
}

@keyframes fade {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(0, -50px) scale(0.5);
    opacity: 0;
  }
}